<nav *ngIf="!editToggle" class="navbar navbar-expand-sm navbar-light bg-dark">
  <a class="navbar-brand" href="#"> Student Management</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link navhome" href="#"> Home </a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-container">
  <div class="row">
    <div class="col-sm-2 sidenav">
      <div class="mt-2 sidenav-content"  *ngIf="!editToggle">
        <p class="text-center fw-normal action ms-5 fs-3">Actions</p>
        <span class="submitbtn">
          <app-submit-button
            [className]="'btn btn-dark w-50 ms-5'"
            [students]="studentForm.value"
            [label]="'Save'"
            (onClick)="onSubmit($event)"
          ></app-submit-button>

        </span>
        <div class="lis-button"><button routerLink="/list-of-students"  class="btn btn-dark w-50 ms-5">List View</button></div>


      </div>
    </div>
    <div class="col-sm-8 panel panel-primary">
      <div class="mt-2">
        <p class="text-center fw-normal fs-3">Student Registration Form</p>
      </div>
      <hr />
      <div class="container">
        <div class="headingbar panel panel-heading">
          <h3 class="headtext fw-normal">Basic Informations</h3>
        </div>
        <div>
          <form [formGroup]="studentForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group pt-3">
                  <label class="fw-normal">Name</label><br />
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['name'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['name'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['name'].errors['required']">
                      Firstname is required
                    </div>
                    <div *ngIf="f['name'].errors['pattern']">
                      First letter should be capital and space should not be allowed
                    </div>

                  </div>
                </div>
                <div class="form-group pt-3">
                  <label>Choose your Gender</label><br />

                  <label for="male" class="custom-control-label">Male</label>
                  <input
                    formControlName="gender"
                    type="radio"
                    id="male"
                    value="male"
                    class="ms-1"
                    [ngClass]="{
                      'is-invalid': submitted && f['gender'].errors
                    }"
                  />
                  <label class="ms-5 custom-control-label" for="female"
                    >Female</label
                  >
                  <input
                    formControlName="gender"
                    type="radio"
                    id="female"
                    value="female"
                    class="ms-1"
                    [ngClass]="{
                      'is-invalid': submitted && f['gender'].errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="submitted && f['gender'].errors"
                  >
                    <p>Please select either value</p>
                  </div>
                </div>
              </div>
              <!-- right div -->
              <div class="col-md-4">
                <div class="form-group pt-3">
                  <label class="fw-normal">User Name</label><br />
                  <input
                    formControlName="userName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['userName'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['userName'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['userName'].errors['required']">
                      UserName is required
                    </div>
                  </div>
                </div>
                <div class="form-group pt-3">
                  <label>DOB</label><br />
                  <input
                    formControlName="dob"
                    type="date"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
                  />
                  <div
                    *ngIf="submitted && f['dob'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['dob'].errors['required']">
                      DOB is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group pt-3">
                  <label class="fw-normal">Email</label><br />
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                  />
                  <div
                    *ngIf="submitted && f['email'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['email'].errors['required']">
                      Email is required
                    </div>
                    <div *ngIf="f['email'].errors['email']">
                      Email is invalid
                    </div>
                  </div>
                </div>
                <div class="form-group pt-3">
                  <label class="fw-normal">Mobile number</label><br />
                  <input
                    formControlName="contact"
                    type="number"
                    maxlength="12"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['contact'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['contact'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['contact'].errors['required']">
                      MobileNumber is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- secnd row -->
            <div class="row mt-2">
              <accordion class="acc" [isAnimated]="true">
                <accordion-group heading="Identity Detail" [isOpen]="true">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label for="sel1" class="fw-normal">ID TYPE</label
                        ><br />
                        <!-- <input class="form-control" /> -->
                        <select
                          formControlName="idType"
                          class="form-select"
                          id="sel1"
                          name="sellist1"
                          [ngClass]="{
                            'is-invalid': submitted && f['idType'].errors
                          }"
                        >
                          <option value="" selected disabled hidden>
                            Choose Id
                          </option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                        <div
                          *ngIf="submitted && f['idType'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['idType'].errors['required']">
                            Id Type is required
                          </div>
                        </div>
                      </div>

                      <div class="form-group pt-3">
                        <label class="fw-normal">Issue Date</label><br />
                        <input
                          formControlName="issueDate"
                          type="date"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f['issueDate'].errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f['issueDate'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['issueDate'].errors['required']">
                            Issued Date is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label class="fw-normal">Id Number</label><br />
                        <input
                          formControlName="empNo"
                          type="number"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f['empNo'].errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f['empNo'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['empNo'].errors['required']">
                            Id Number is required
                          </div>
                        </div>
                      </div>

                      <div class="form-group pt-3">
                        <label class="fw-normal">Expiry Date</label><br />
                        <input
                          formControlName="expiryDate"
                          type="date"
                          min="{{f['issueDate'].value}}"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f['expiryDate'].errors
                          }" >
                        <div
                          *ngIf="submitted && f['expiryDate'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['expiryDate'].errors['required']">
                            ExpiryDate is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label for="sel2" class="fw-normal"
                          >Issue Authority</label
                        ><br />
                        <select
                          class="form-select"
                          id="sel2"
                          name="sellist1"
                          formControlName="issueAuthority"
                          [ngClass]="{
                            'is-invalid':
                              submitted && f['issueAuthority'].errors
                          }"
                        >
                          <option value="" selected disabled hidden>
                            Choose Authority
                          </option>
                          <option>Village Administrator</option>
                          <option>Deputy Commissioner</option>
                          <option>District Collector</option>
                        </select>
                        <div
                          *ngIf="submitted && f['issueAuthority'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['issueAuthority'].errors['required']">
                            IssueAuthority is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </accordion-group>
              </accordion>
            </div>

            <!-- third adress details -->
            <div class="row mt-2">
              <accordion [isAnimated]="true">
                <accordion-group
                  id="acc"
                  heading="Address Details"
                  [isOpen]="true"
                >
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label class="fw-normal">Address Line 1</label><br />
                        <textarea
                          formControlName="addresslineOne"
                          class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="3"
                          maxlength="20"
                          [ngClass]="{
                            'is-invalid':
                              submitted && f['addresslineOne'].errors
                          }"
                        ></textarea>
                        <div
                          *ngIf="submitted && f['addresslineOne'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['addresslineOne'].errors['required']">
                            AddressLine one is required
                          </div>
                        </div>
                        <!-- <input class="form-control" /> -->
                      </div>
                      <div class="form-group pt-3">
                        <label class="fw-normal">State</label><br />
                        <select
                          formControlName="state"
                          class="form-select"
                          id="sel2"
                          name="sellist1"
                          [ngClass]="{
                            'is-invalid': submitted && f['state'].errors
                          }"
                        >
                          <option value="" selected disabled hidden>
                            Choose State
                          </option>
                          <option>Tamil Nadu</option>
                          <option>Aandhra Pradesh</option>
                          <option>Karnataka</option>
                        </select>
                        <div
                          *ngIf="submitted && f['state'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['state'].errors['required']">
                            State is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label class="fw-normal">Address Line 2</label><br />
                        <!-- <input class="form-control" /> -->
                        <textarea
                          formControlName="addresslineTwo"
                          class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="3"
                          [ngClass]="{
                            'is-invalid':
                              submitted && f['addresslineTwo'].errors
                          }"
                        ></textarea>
                      </div>
                      <div class="form-group pt-3">
                        <label class="fw-normal">Country</label><br />
                        <select
                          class="form-select"
                          id="sel2"
                          name="sellist1"
                          formControlName="country"
                          [ngClass]="{
                            'is-invalid': submitted && f['country'].errors
                          }"
                        >
                          <option value="" selected disabled hidden>
                            Choose Country
                          </option>
                          <option>India</option>
                          <option>UK</option>
                          <option>US</option>
                        </select>
                        <div
                          *ngIf="submitted && f['country'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['country'].errors['required']">
                            country is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group pt-3">
                        <label class="fw-normal">City</label><br />

                        <input
                          type="text"
                          class="form-control"
                          maxlength="40"
                          formControlName="city"
                          [ngClass]="{
                            'is-invalid':
                              submitted && f['city'].errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f['city'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['city'].errors['required']">
                            city is required
                          </div>
                        </div>
                      </div>
                      <div  class="form-group pt-5">
                        <label class="fw-normal">ZipCode</label><br />
                        <input
                        type="text"
                        formControlName="zipcode"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f['zipcode'].errors
                        }"
                      />
                      </div>
                    </div>
                  </div>
                </accordion-group>
              </accordion>

            </div>
            <div *ngIf="editToggle">
              <button class="btn btn-dark w-75">Update</button>

            </div>


          </form>

        </div>

      </div>

    </div>

    <!-- right side -->
    <div class="col-sm-2"></div>
  </div>
</div>
